# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Party Jumper.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Maik Nöbauer\Documents\Uni Mainz\Game Design\Party Jumper\.idea\.idea.Party Jumper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
